@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
:root{
    font-family: 'Inter', sans-serif;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    padding: 0;
    box-sizing: border-box;
}
.content{
    width: 1440px;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
ul{
    display: flex;
    width: 40%;
    justify-content: space-around;
}
li{
    color: transparent;
}
li a{
    text-decoration: none;
    font-size: large;
    color: hsl(236, 13%, 42%);
    transition: 0.2s color; 
    
}
li a:hover{
    color: hsl(35, 77%, 62%);
}
.grid-cont{
    display: grid;
    grid-template-areas: 
        'img img newTab'
        'title readmore newTab';
    /* gap: 30px; */
}
.grid-cont img{
    grid-area: img;
    width: 950px;
}
.new-tab{
    grid-area: newTab;
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    padding: 30px;
    width: 80%;
    margin-left: 40px;
}
.new-tab h1{
    margin-top: 0px;
    font-weight: bold;
    font-size: 50px;
    color: hsl(35, 77%, 62%);
}
/* .tab{
    padding-top: 10px;
} */
.tab a{
    color: hsl(36, 100%, 99%);
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    transition: 0.2s color;
}
.tab a:hover{
    color: hsl(35, 77%, 62%);
}
.tab p{
    color: hsl(233, 8%, 79%);
    line-height: 30px;
    font-size: 18px;
    width: 350px;
}
.title{
    grid-area: title;
    font-weight: bolder;
    font-size: 35px;
    width: 400px;
}
.title h1{
    margin: 0;
    line-height: 70px;
    font-weight: bolder;
}
.readmore{
    overflow: hidden;
    grid-area: readmore;
    padding-left: 50px;
    width: 400px;
}
.readmore p {
    color: hsl(236, 13%, 42%);
    font-size: 18px;
    margin: 0;
    line-height: 30px;
}
button{
    margin-top: 30px;
    width: 220px;
    height: 60px;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s background-color;
}
button:hover{
    background-color: black;
}
.articles{
    display: flex;
    justify-content: space-between;
}
.art{
    margin-top: 80px;
    display: grid;
    grid-template-areas: 
    'img h1'
    'img a'
    'img p';
    width: 400px;

}
.art img{
    grid-area: img;
    height: 180px;
}
.art h1{
    margin: 0;
    grid-area: h1;
    color: hsl(233, 8%, 79%);
    font-size: 40px;
    height: 40px;
}
.art a{
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
    grid-area: a;
    transition: 0.2s color;
}
.art a:hover{
    color: hsl(35, 77%, 62%);
}
.art p{
    color: hsl(236, 13%, 42%);
    font-size: 15px;
    margin: 0;
    grid-area: p;
    line-height: 30px;
    width: 190px;

}
footer{
    margin-top: 100px;
}